[submodule "backend/models/Beat-Transformer"]
	path = apps/worker/models/Beat-Transformer
	url = https://github.com/AblazedTC/Beat-Transformer.git
[submodule "backend/models/chord-recognition-model"]
	path = apps/worker/models/chord-recognition-model
	url = https://github.com/AblazedTC/chord-recognition-model.git
